$very-light-grey:#f0f0f0;
$light_grey:#7f7f7f;
$grey:#54506c;
$white:#fff;
$light_green: #28c29b;
$green: #209b7c;
$light_blue:#29aeee;
$light_blue_inactive:rgba(41,174,238,.3);

$blue:#208bbf;
$dark-blue:#1d4889;
$violet:#251b5f;
$dark_violet:#140c43;
$very-dark-violet:#180f49;
$green:#b4ee20;
$dark_violet_second: #1f1653;

$color-main-white: rgba(219, 225, 219, 0.72);

$color-accent-purple: #271554;
$color-accent-purple-light: #251b5f;
$color-accent-blue: #202f70;
$color-accent-light-blue: #4ba8ed;
$color-accent-green: #27c29a;
$color-accent-light-green: #28c29b;
$color-font-accent: #271554;
$color-font-white: #ffffff;
$color-font-soft: #838383;

$gradient-green:  linear-gradient(to bottom, #60c58c, #27c29a);


$color-font-main-white: #FFFFFF;
$color-font-main-blue: #29AEEE;
$color-font-main-soft: #8A85A5;
$color-font-accent-green: #28C29B;
$color-font-accent-yellow-green: #B4EE20;
$color-font-accent-grey: #848484;
$color-font-accent-red: #E63C57;
$color-font-accent-deep_blue: #251861;




